Package: se.nosskirneh.swishsearch
Name: SwishSearch
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Search amongst contacts in Swish
Maintainer: Andreas Henriksson
Author: Andreas Henriksson
Section: Tweaks
